<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Ganti Password</title>
</head>
<body>
    <h2>Ganti Password</h2>
    <form method="post">
        {% csrf_token %}
        <label>Password Lama:</label><br>
        <input type="password" name="pass_lama" required><br><br>
        <label>Password Baru:</label><br>
        <input type="password" name="pass_baru" required><br><br>
        <button type="submit">Ganti Password</button>
        <a href="{% url 'lihat_profil' %}">Batal</a>
    </form>
    {% if messages %}
      {% for message in messages %}
        <div style="color:red;">{{ message }}</div>
      {% endfor %}
    {% endif %}
</body>
</html>