{% extends "base.html" %}

{% block title %}Detail Buku{% endblock %}

{% block content %}
<h2>{{ buku.judul }}</h2>
<p>Stok tersedia: {{ buku.stok }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Pinjam Buku</button>
</form>

<a href="{% url 'daftar_buku' %}">← Kembali ke Daftar Buku</a>
{% endblock %}

from abc import ABC, abstractmethod

class BukuAbstract(ABC):
    def __init__(self, idBuku: str, judul: str, stok: str):
        self.idBuku = idBuku
        self.judul = judul
        self.stok = stok